.bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bungee-outline-regular {
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900*/
  
  .azeret-mono-unique {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
  }

label{
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 
  
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

body {
    background-color: #f0f0f0;
   margin-left: 30px;
}

h2, .text-container, #animated-text {
    margin: 10px 0; /* Adds margin to separate elements vertically */
}
h2{
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 450%;
}

/* Styles for text container */
.text-container {
    position: relative;
    height: 50px;
    overflow: hidden;
}

/* Styles for animated text */
#animated-text {
    display: block; /* Ensures the text appears as a block element */
    position: absolute;
    animation: fall 0.5s forwards, rise 0.5s forwards 0.5s;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
  }


@keyframes fall {
    0% { top: 0; opacity: 1; }
    100% { top: 100%; opacity: 0; }
}

@keyframes rise {
    0% { top: -100%; opacity: 0; }
    100% { top: 0; opacity: 1; }
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}

footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
  }
  body {
    display:grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas:"main" "." "footer";
    overflow-x:hidden;
       min-height:100vh;
.footer {
    margin-left: -35px;
    margin-right: -10px;
        z-index: 1;
        --footer-background:#000000;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:12rem;

.bubbles {
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:1rem;
            background:var(--footer-background);
            filter:url("#blob");
.bubble {
                position: absolute;
                left:var(--position, 50%);
                background:var(--footer-background);
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
}
}
        .content {
            z-index: 2;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding:2rem;
            background:var(--footer-background);
            a, p {
                color:#ffffff;
                text-decoration:none;
            }
            b {
                color:rgb(255, 255, 255);
            }
            p {
                margin:0;
                font-size:.75rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.25rem 0;
                    >* {
                        margin-right:.5rem;
                    }
                }
                .image {
                    align-self: center;
                    width:4rem;
                    height:4rem;
                    margin:0.25rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
}
p{
  padding-bottom: 100px;
}